<h1>Login</h1>
<p>Please login</p>
<div>
  <%= form_for @user, :url => {:controller => 'sessions', :action => 'create'} do |f| %>
  <%= f.text_field :email, placeholder: 'Email'%>
  <br>
  <%= f.text_field :password, placeholder: 'Password'%>
  <br>
  <%= f.submit 'Log in' %>
</div>
