<h1>Event Profile</h1>
<%= @event.content %>

<% unless @has_booking %>
  <div>
    <%= form_for @event, :url => {:controller => 'bookings', :action => 'create'}, method: :post do |f| %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <div>
        <%= f.submit 'Book', class: 'btn btn-primary ace-blue' %>
      </div>
    <% end %>
  </div>
<% end %>
  